<div class="row text-center">
  <div class="col-xs-3">
    <p></br>LSDC Group vous rachète</br>vos biens <span class="gold-word">CASH</span> si nous</br>tombons d’accord sur</br>un tarif de reprise.</p>
    <a href="/home/form?type=vendeur">
      <button type="button" class="btn btn-vendeur btn-block"><h2 class="">Vendeur</h2></button>
    </a>
    <p class="stat-label"><span class="number">2 097 078</span><br/>propositions de rachat<br/>envoyées</p>
    <div class="panel panel-default" id="process-left">
      <table class="table">
        <tbody>
          <tr>
            <td>
              <div class="icon-process"><img src="/assets/icon-process1.png" class="img-process"/></div>
              <div class="label-icon-process">Vous souhaitez</br>Vendre ?</div>
              <div class="process-arrow"><img src="/assets/icon-process-arrow.png"/></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="icon-process"><img src="/assets/icon-process2.png" class="img-process"/></div>
              <div class="label-icon-process">Nous Voulons</br>acheter !</div>
              <div class="process-arrow"><img src="/assets/icon-process-arrow.png"/></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="icon-process"><img src="/assets/icon-process3.png" class="img-process"/></div>
              <div class="label-icon-process">Faisons des affaires Ensemble !</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a href="/home/form?type=vendeur">
      <button type="button" class="btn btn-vendeur btn-block">Proposer un rachat gratuitement</button>
    </a>
  </div>
  <div class="col-xs-6">
    <p class="slogan2">Rejoignez le plus grand Group de <span class="gold-word">RACHAT</span> et de <span class="gold-word">RECHERCHE</span> en France !</p>
    <div id="world-map" style="width: 509px; height: 509px"></div>
  </div>
  <div class="col-xs-3">
    <p></br>LSDC Group recherche le</br>bien de vos <span class="gold-word">RÊVES</span> au</br>prix que l’on aura</br>défini ensemble.</p>
    <a href="/home/form?type=acheteur">
      <button type="button" class="btn btn-acheteur btn-block"><h2 class="">Acheteur</h2></button>
    </a>
    <p class="stat-label"><span class="number">3 037 577</span><br/>demande de recherche<br/>effectuées</p>
    <div class="panel panel-default" id="process-right">
      <table class="table">
        <tbody>
          <tr>
            <td>
              <div class="label-icon-process">Vous Recherchez</br>un bien ?</div>
              <div class="icon-process"><img src="/assets/icon-process2-1.png" class="img-process"/></div>
              <div class="process-arrow"><img src="/assets/icon-process-arrow-gold.png"/></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="label-icon-process">Nous le trouvons à votre place !</div>
              <div class="icon-process"><img src="/assets/icon-process2-2.png" class="img-process"/></div>
              <div class="process-arrow"><img src="/assets/icon-process-arrow-gold.png"/></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="label-icon-process">Rencontrons nous pour la Vente !</div>
              <div class="icon-process"><img src="/assets/icon-process2-3.png" class="img-process"/></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a href="/home/form?type=acheteur">
      <button type="button" class="btn btn-acheteur btn-block">Demander une recherche gratuitement</button>
    </a>
  </div>
</div>
<div class="row text-center margin-top-20 list-regions">
  <div class="col-xs-2">
    <div><a href="/home/form?region=FR-A">Alsace</a></div>
    <div><a href="/home/form?region=FR-B">Aquitaine</a></div>
    <div><a href="/home/form?region=FR-C">Auvergne</a></div>
    <div><a href="/home/form?region=FR-P">Basse-Normandie</a></div>
    <div><a href="/home/form?region=FR-D">Bourgogne</a></div>
    <div><a href="/home/form?region=FR-E">Bretagne</a></div>
  </div>
  <div class="col-xs-2">
    <div><a href="/home/form?region=FR-F">Centre</a></div>
    <div><a href="/home/form?region=FR-G">Champagne-Ardenne</a></div>
    <div><a href="/home/form?region=FR-H">Corse</a></div>
    <div><a href="/home/form?region=FR-I">Franche-Comté</a></div>
    <div><a href="/home/form?region=FR-Q">Haute-Normandie</a></div>
    <div><a href="/home/form?region=FR-J">île-de-France</a></div>
  </div>
  <div class="col-xs-2">
    <div><a href="/home/form?region=FR-K">Languedoc-Roussillon</a></div>
    <div><a href="/home/form?region=FR-L">Limousin</a></div>
    <div><a href="/home/form?region=FR-M">Lorraine</a></div>
    <div><a href="/home/form?region=FR-N">Midi-Pyrénées</a></div>
    <div><a href="/home/form?region=FR-O">Nord-Pas-de-Calais</a></div>
    <div><a href="/home/form?region=FR-R">Pays de la Loire</a></div>
  </div>
  <div class="col-xs-3">
    <div><a href="/home/form?region=FR-S">Picardie</a></div>
    <div><a href="/home/form?region=FR-T">Poitou-Charentes</a></div>
    <div><a href="/home/form?region=FR-U">Provence-Alpes-Côte-d'Azur</a></div>
    <div><a href="/home/form?region=FR-V">Rhône-Alpes</a></div>
    <div><a href="/home/form?region=FR-DOMTOM">DOM TOM</a></div>
    <div><a href="/home/form">Toute la France</a></div>
  </div>
  <div class="col-xs-3">
    <div class="partenaire text-center">
      <h2>Partenaire</h2>
      <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
      <div class="link-partenaire">
        <div class="row">
          <div class="col-xs-2 border-right">
            <img src="/assets/arrow.png"/>
          </div>
          <div class="col-xs-10">
            <a href="/">Devenir Partenaire</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
